__pycache__
taming
log
cluster_logs
esc50.zip
ESC-50-master
*.wav
ckpt
lightning_logs
mlx_submit_*
job_queue.sh
*.txt
*.cleaned
audiocaps_train.json
dataset
checkpoints
*.tar
condor*
wandb
*.mlx_submit

imagebind/.assets
imagebind/.checkpoints
imagebind/build